#form {

}

#form select {
    margin: 0 12px 10px 0;
    outline: none;

    color: #B9461A;
    padding:6px 10px;

    font-weight: bold;
    text-overflow: ellipsis;


    text-indent: 0.01px;
    text-overflow: "";
}