
<div class="clear"></div>

<div id="footer">
	<div class="container">
		<span>&#169; 2012 <span class="fredoka">MoodFuse</span> <a href="/about">About</a></span>
		<div class="shouts">
			<a href="http://www.echonest.com"><img src="/assets/echonest.png" alt="EchoNest" title="EchoNest" /></a>
		</div>
	</div>
</div>

<script>

	var player, tag, first_script_tag, spinner, width;
		
	tag = document.createElement('script');
	tag.src = "//www.youtube.com/iframe_api";
	first_script_tag = document.getElementsByTagName('script')[0];
	first_script_tag.parentNode.insertBefore(tag, first_script_tag);
	

	spinner = new Spinner({
		lines: 13, // The number of lines to draw
		length: 40, // The length of each line
		width: 35, // The line thickness
		radius: 70, // The radius of the inner circle
		corners: 1, // Corner roundness (0..1)
		rotate: 90, // The rotation offset
		color: '#fff', // #rgb or #rrggbb
		speed: 1.3, // Rounds per second
		trail: 100, // Afterglow percentage
		shadow: false, // Whether to render a shadow
		hwaccel: false, // Whether to use hardware acceleration
		className: 'spinner', // The CSS class to assign to the spinner
		zIndex: 2e9, // The z-index (defaults to 2000000000)
		top: '1', // Top position relative to parent in px
		left: 'auto' // Left position relative to parent in px
	});

	
	function onYouTubeIframeAPIReady () {
		player = new YT.Player('player', {
			height: '279',
			width: '372',
			videoId: '',
			playerVars: { 
				'wmode': 'opaque',
				'rel': 0,
				'showinfo': 1,
				'controls': 2
			},
			events: {
				'onReady': function () {
					ytf.init();
				},
				'onStateChange': function (event) {

					ytf.setPageTitle(event.data);

					if (event.data == YT.PlayerState.ENDED) {
						ytf.next();
					} 
				}
			}
		});
	}





</script>