<div class="sliver"></div>
<div id="header">
	<div class="container">
		<a href="/"><img src="/assets/logo.png" alt="MoodFuse" title="MoodFuse" /></a>

		<div class="social">
			<iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=MoodFuse&amp;show_count=true&amp;show_screen_name=true&amp;size=m" allowtransparency="true" frameborder="0" scrolling="no" class="twitter-follow-button"></iframe>
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMoodFuse%470773119625275&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;font=lucida+grande&amp;colorscheme=light&amp;action=like&amp;height=20" scrolling="no" frameborder="0" allowTransparency="true" class="facebook-like-button"></iframe>
			<!--<iframe src="http://ghbtns.com/github-btn.html?user=ChrisZieba&repo=EntropyZX&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20" style="border:none; overflow:hidden; width:80px; height:20px;"></iframe>-->
		</div>

	</div>

</div>