<option selected>Mood ...</option>
<option>aggressive</option>
<option>ambient</option>
<option>angry</option>
<option>bouncy</option>
<option>calming</option>
<option>carefree</option>
<option>cheerful</option>
<option>cold</option>
<option>complex</option>
<option>cool</option>
<option>dark</option>
<option>disturbing</option>
<option>dramatic</option>
<option>dreamy</option>
<option>eerie</option>
<option>elegant</option>
<option>energetic</option>
<option>enthusiastic</option>
<option>epic</option>
<option>fun</option>
<option>funky</option>
<option>futuristic</option>
<option>gentle</option>
<option>gleeful</option>
<option>gloomy</option>
<option>groovy</option>
<option>happy</option>
<option>harsh</option>
<option>haunting</option>
<option>humorous</option>
<option>hypnotic</option>
<option>industrial</option>
<option>intense</option>
<option>intimate</option>
<option>joyous</option>
<option>laid-back</option>
<option>light</option>
<option>lively</option>
<option>manic</option>
<option>mellow</option>
<option>mystical</option>
<option>ominous</option>
<option>passionate</option>
<option>pastoral</option>
<option>peaceful</option>
<option>playful</option>
<option>poignant</option>
<option>quiet</option>
<option>rebellious</option>
<option>reflective</option>
<option>romantic</option>
<option>rowdy</option>
<option>sad</option>
<option>sentimental</option>
<option>sexy</option>
<option>smooth</option>
<option>soothing</option>
<option>sophisticated</option>
<option>spacey</option>
<option>spiritual</option>
<option>strange</option>
<option>sweet</option>
<option>theater</option>
<option>trippy</option>
<option>warm</option>
<option>whimsical</option>
