<option selected>Genre ...</option>

	<option>60s</option>
	<option>70s</option>
	<option>8-bit</option>
	<option>80s</option>
	<option>90s</option>

	<option>alternative</option>

	<option>blues</option>

	<option>bop</option>

	<option>bounce</option>


	<option>britpop</option>


	<option>cabaret</option>


	<option>canadian rock</option>




	<option>children music</option>
	<option>christian</option>
	<option>classic rock</option>
	<option>classical</option>

	<option>club</option>
	<option>coldwave</option>






	<option>country</option>
	<option>crunk</option>
	
	<option>dance</option>
	
	<option>deep funk</option>
	
	<option>dirty rap</option>
	
	<option>disco</option>
	
	<option>downtempo</option>
	<option>dream pop</option>
	
	<option>drum and bass</option>

	<option>dubstep</option>
	

	<option>electro</option>
	
	<option>electronica</option>
	<option>electropop</option>
	<option>emo</option>
	

	<option>eurodance</option>

	<option>experimental</option>
	
	<option>female rap</option>

	
	<option>flamenco</option>
	
	<option>folk</option>
	
	
	<option>funk</option>
	
	
	<option>glitch</option>
	
	<option>gospel</option>
	
	<option>grindcore</option>
	
	<option>guitar rock</option>
	
	<option>hardcore</option>
	

	<option>hip hop</option>

	<option>house</option>
	
	<option>indie dance</option>
	<option>indie electro</option>
	<option>indie folk</option>
	<option>indie pop</option>
	<option>indie rock</option>

	
	<option>instrumental</option>
	
	
	<option>jazz</option>
	
	<option>latin</option>
	
	<option>lo-fi</option>
	
	<option>mambo</option>
	<option>mariachi</option>
	
	<option>medieval</option>
	
	<option>metal</option>
	
	<option>minmimal</option>
	
	<option>nederpop</option>
	
	<option>neofolk</option>
	
	<option>nerdcore</option>

	
	<option>new age</option>
	
	<option>new wave</option>
	
	<option>newgrass</option>
	
	<option>noise</option>
	
	<option>old school</option>
	
	<option>opera</option>
	
	
	<option>polka</option>
	<option>pop</option>
	
	
	<option>psychedelic</option>
	
	<option>punk</option>
	
	<option>queercore</option>
	<option>r&b</option>
	
	<option>rap</option>
	
	<option>remix</option>
	
	<option>rock</option>
	<option>rock 'n roll</option>
	
	<option>roots</option>
	
	
	<option>salsa</option>
	
	<option>samba</option>
	
	<option>ska</option>
	
	<option>smooth jazz</option>
	
	<option>soft rock</option>
	
	<option>soul</option>
	
	
	<option>spiritual</option>
	
	<option>surf</option>
	
	<option>swing</option>
	
	<option>symphonic</option>
	
	<option>synth rock</option>
	<option>synthpop</option>
	<option>tango</option>
	
	<option>techno</option>
	
	<option>trance</option>
	
	
	<option>vocal pop</option>

	<option>west coast rap</option>

	<option>world</option>
