<option selected>Genre ...</option>

<optgroup label="">
	<option>70s rock</option>
	<option>90s rock</option>
	<option>indie pop</option>
</optgroup>


<optgroup id="optstyles" label="All Styles">
	<option>18th century</option>
	<option>19th century</option>
	<option>30s</option>
	<option>40s</option>
	<option>50s</option>
	<option>60s</option>
	<option>60s garage</option>
	<option>60s pop</option>
	<option>60s rock</option>
	<option>70s</option>
	<option>70s rock</option>
	<option>8-bit</option>
	<option>80s</option>
	<option>80s hair metal</option>
	<option>80s metal</option>
	<option>80s pop</option>
	<option>80s rock</option>
	<option>90s</option>
	<option>90s emo</option>
	<option>90s rock</option>
	<option>abstract hip hop</option>
	<option>acappella</option>
	<option>acid folk</option>
	<option>acid house</option>
	<option>acid jazz</option>
	<option>acid rock</option>
	<option>acid techno</option>
	<option>acoustic blues</option>
	<option>acoustic pop</option>
	<option>acoustic punk</option>
	<option>acoustic rock</option>
	<option>adult alternative</option>
	<option>adult contemporary</option>
	<option>african blues</option>
	<option>african folk</option>
	<option>african reggae</option>
	<option>afro-cuban jazz</option>
	<option>afrobeat</option>
	<option>afropop</option>
	<option>aggrotech</option>
	<option>album rock</option>
	<option>alternative</option>
	<option>alternative country</option>
	<option>alternative dance</option>
	<option>alternative folk</option>
	<option>alternative hip hop</option>
	<option>alternative metal</option>
	<option>alternative pop</option>
	<option>alternative pop rock</option>
	<option>alternative rap</option>
	<option>alternative rock</option>
	<option>ambient</option>
	<option>ambient black metal</option>
	<option>ambient breakbeat</option>
	<option>ambient dub</option>
	<option>ambient house</option>
	<option>ambient pop</option>
	<option>ambient rock</option>
	<option>ambient techno</option>
	<option>american black metal</option>
	<option>american blues</option>
	<option>american death metal</option>
	<option>american hard rock</option>
	<option>american hardcore</option>
	<option>american metal</option>
	<option>american psychobilly</option>
	<option>american punk</option>
	<option>american rock</option>
	<option>american ska</option>
	<option>american thrash metal</option>
	<option>americana</option>
	<option>anarcho-punk</option>
	<option>anatolian rock</option>
	<option>andean music</option>
	<option>angura kei</option>
	<option>anti-folk</option>
	<option>apocalyptic folk</option>
	<option>aquacrunk</option>
	<option>arabic music</option>
	<option>arabic pop</option>
	<option>arena rock</option>
	<option>argentine rock</option>
	<option>argentine tango</option>
	<option>argentinian rock</option>
	<option>art punk</option>
	<option>art rock</option>
	<option>austrian music</option>
	<option>austropop</option>
	<option>avant-garde</option>
	<option>avant-garde jazz</option>
	<option>avantgarde metal</option>
	<option>bachata</option>
	<option>baile funk</option>
	<option>balearic trance</option>
	<option>balkan beat</option>
	<option>balkan brass</option>
	<option>ballad</option>
	<option>banda</option>
	<option>baroque</option>
	<option>baroque music</option>
	<option>baroque pop</option>
	<option>basque rock</option>
	<option>bass music</option>
	<option>bastard pop</option>
	<option>battle metal</option>
	<option>bay area rap</option>
	<option>bay area thrash</option>
	<option>bay area thrash metal</option>
	<option>bebop</option>
	<option>belgian music</option>
	<option>belgian rock</option>
	<option>big band</option>
	<option>big beat</option>
	<option>birmingham techno</option>
	<option>black doom</option>
	<option>black gospel</option>
	<option>black metal</option>
	<option>blackened death metal</option>
	<option>blackened doom metal</option>
	<option>blackened thrash metal</option>
	<option>blue-eyed soul</option>
	<option>bluegrass</option>
	<option>blues</option>
	<option>blues guitar</option>
	<option>blues revival</option>
	<option>blues rock</option>
	<option>blues rock</option>
	<option>blues-rock</option>
	<option>bolero</option>
	<option>boogie rock</option>
	<option>boogie-woogie</option>
	<option>bop</option>
	<option>bossa nova</option>
	<option>boston hardcore</option>
	<option>boston punk</option>
	<option>bounce</option>
	<option>boy band</option>
	<option>brazilian christian</option>
	<option>brazilian country</option>
	<option>brazilian emo</option>
	<option>brazilian folk</option>
	<option>brazilian indie</option>
	<option>brazilian jazz</option>
	<option>brazilian metal</option>
	<option>brazilian music</option>
	<option>brazilian pop music</option>
	<option>brazilian power metal</option>
	<option>brazilian punk</option>
	<option>brazilian rap</option>
	<option>brazilian reggae</option>
	<option>brazilian rock</option>
	<option>brazilian thrash metal</option>
	<option>break</option>
	<option>breakbeat</option>
	<option>breakbeat hardcore</option>
	<option>breakcore</option>
	<option>brill building pop</option>
	<option>british blues</option>
	<option>british folk</option>
	<option>british folk rock</option>
	<option>british heavy metal</option>
	<option>british hip hop</option>
	<option>british invasion</option>
	<option>british metal</option>
	<option>british pop</option>
	<option>british psychedelia</option>
	<option>british punk rock</option>
	<option>british rap</option>
	<option>british rock</option>
	<option>british ska</option>
	<option>british trad rock</option>
	<option>britpop</option>
	<option>broken beat</option>
	<option>brutal death metal</option>
	<option>brutal deathcore</option>
	<option>brutal thrash metal</option>
	<option>bubblegum dance</option>
	<option>bubblegum pop</option>
	<option>bubblegum punk</option>
	<option>cabaret</option>
	<option>california hardcore</option>
	<option>calypso</option>
	<option>canadian country</option>
	<option>canadian folk</option>
	<option>canadian hip hop</option>
	<option>canadian indie</option>
	<option>canadian pop</option>
	<option>canadian rap</option>
	<option>canadian rock</option>
	<option>catalan music</option>
	<option>ccm</option>
	<option>cello rock</option>
	<option>celtic</option>
	<option>celtic folk</option>
	<option>celtic fusion</option>
	<option>celtic metal</option>
	<option>celtic music</option>
	<option>celtic new age</option>
	<option>celtic punk</option>
	<option>celtic rock</option>
	<option>chamber jazz</option>
	<option>chamber music</option>
	<option>chamber pop</option>
	<option>chanson</option>
	<option>chanson francaise</option>
	<option>chicago blues</option>
	<option>chicago house</option>
	<option>chicago punk</option>
	<option>chicago soul</option>
	<option>chicano rap</option>
	<option>children music</option>
	<option>chilean folk</option>
	<option>chilean pop</option>
	<option>chilean rock</option>
	<option>chimurenga</option>
	<option>chinese music</option>
	<option>chiptune</option>
	<option>choral music</option>
	<option>christian</option>
	<option>christian black metal</option>
	<option>christian contemporary</option>
	<option>christian death metal</option>
	<option>christian hard rock</option>
	<option>christian hardcore</option>
	<option>christian heavy metal</option>
	<option>christian hip hop</option>
	<option>christian metal</option>
	<option>christian metalcore</option>
	<option>christian music</option>
	<option>christian pop</option>
	<option>christian pop punk</option>
	<option>christian punk</option>
	<option>christian rap</option>
	<option>christian rock</option>
	<option>classic blues</option>
	<option>classic country</option>
	<option>classic hip hop</option>
	<option>classic jazz</option>
	<option>classic metal</option>
	<option>classic motown</option>
	<option>classic punk</option>
	<option>classic r&b</option>
	<option>classic rock</option>
	<option>classic russian rock</option>
	<option>classic thrash</option>
	<option>classical</option>
	<option>classical pop</option>
	<option>club</option>
	<option>coldwave</option>
	<option>college rock</option>
	<option>comedy</option>
	<option>comedy rock</option>
	<option>conscious reggae</option>
	<option>contemporary bluegrass</option>
	<option>contemporary blues</option>
	<option>contemporary celtic</option>
	<option>contemporary christian</option>
	<option>contemporary country</option>
	<option>contemporary flamenco</option>
	<option>contemporary folk</option>
	<option>contemporary gospel</option>
	<option>contemporary jazz</option>
	<option>contemporary r&b</option>
	<option>contemporary reggae</option>
	<option>contemporary worship</option>
	<option>continental jazz</option>
	<option>cool jazz</option>
	<option>cosmic american music</option>
	<option>cosmic disco</option>
	<option>country</option>
	<option>country blues</option>
	<option>country folk</option>
	<option>country gospel</option>
	<option>country music</option>
	<option>country pop</option>
	<option>country rock</option>
	<option>cowpunk</option>
	<option>crack rock</option>
	<option>croatian rock</option>
	<option>crossover classical</option>
	<option>crossover jazz</option>
	<option>crossover thrash</option>
	<option>crunk</option>
	<option>crunkcore</option>
	<option>crust</option>
	<option>crust punk</option>
	<option>crustcore</option>
	<option>cuban folk</option>
	<option>cuban jazz</option>
	<option>cumbia</option>
	<option>cyber metal</option>
	<option>cyberpunk</option>
	<option>czech pop</option>
	<option>czech rock</option>
	<option>dance</option>
	<option>dance music</option>
	<option>dance pop</option>
	<option>dance rock</option>
	<option>dance-punk</option>
	<option>dancehall</option>
	<option>dancehall reggae</option>
	<option>danish folk</option>
	<option>danish hip-hop</option>
	<option>danish metal</option>
	<option>danish music</option>
	<option>danish pop</option>
	<option>danish rap</option>
	<option>danish rock</option>
	<option>dark ambient</option>
	<option>dark cabaret</option>
	<option>dark electro</option>
	<option>dark folk</option>
	<option>dark metal</option>
	<option>dark psytrance</option>
	<option>dark rock</option>
	<option>dark wave</option>
	<option>darkcore</option>
	<option>darkstep</option>
	<option>dc hardcore</option>
	<option>death 'n' roll</option>
	<option>death black metal</option>
	<option>death core</option>
	<option>death metal</option>
	<option>death rap</option>
	<option>death/doom metal</option>
	<option>deathgrind</option>
	<option>deathrock</option>
	<option>deep funk</option>
	<option>deep funk revival</option>
	<option>deep house</option>
	<option>deep techno</option>
	<option>delta blues</option>
	<option>depressive black metal</option>
	<option>depressive rock</option>
	<option>desert blues</option>
	<option>desert rock</option>
	<option>detroit rap</option>
	<option>detroit rock</option>
	<option>detroit techno</option>
	<option>digital hardcore</option>
	<option>dirty disco</option>
	<option>dirty rap</option>
	<option>dirty south rap</option>
	<option>disco</option>
	<option>disco house</option>
	<option>dixieland</option>
	<option>doo-wop</option>
	<option>doom metal</option>
	<option>doom rock</option>
	<option>doomcore</option>
	<option>downbeat</option>
	<option>downtempo</option>
	<option>dream pop</option>
	<option>drill'n'bass</option>
	<option>drone</option>
	<option>drone doom metal</option>
	<option>drone metal</option>
	<option>drone rock</option>
	<option>drum and bass</option>
	<option>drumfunk</option>
	<option>dub</option>
	<option>dub reggae</option>
	<option>dub techno</option>
	<option>dubstep</option>
	<option>duranguense</option>
	<option>dutch death metal</option>
	<option>dutch hardcore</option>
	<option>dutch hip hop</option>
	<option>dutch rap</option>
	<option>east coast hip hop</option>
	<option>east coast rap</option>
	<option>easy listening</option>
	<option>ebm</option>
	<option>edm</option>
	<option>egyptian pop</option>
	<option>electric blues</option>
	<option>electric folk</option>
	<option>electro</option>
	<option>electro hip hop</option>
	<option>electro house</option>
	<option>electro rock</option>
	<option>electro trance</option>
	<option>electro-funk</option>
	<option>electro-industrial</option>
	<option>electro-jazz</option>
	<option>electroclash</option>
	<option>electrocore</option>
	<option>electronic</option>
	<option>electronica</option>
	<option>electropop</option>
	<option>emo</option>
	<option>emo pop</option>
	<option>emo punk</option>
	<option>emo violence</option>
	<option>emocore</option>
	<option>emotional electronic</option>
	<option>english folk</option>
	<option>epic black metal</option>
	<option>epic doom metal</option>
	<option>epic metal</option>
	<option>epic power metal</option>
	<option>epic trance</option>
	<option>ethnic fusion</option>
	<option>euro disco</option>
	<option>euro-house</option>
	<option>euro-trance</option>
	<option>eurobeat</option>
	<option>eurodance</option>
	<option>europop</option>
	<option>experimental</option>
	<option>experimental ambient</option>
	<option>experimental black metal</option>
	<option>experimental dub</option>
	<option>experimental electronic</option>
	<option>experimental hip hop</option>
	<option>experimental metal</option>
	<option>experimental pop</option>
	<option>experimental rap</option>
	<option>experimental rock</option>
	<option>experimental techno</option>
	<option>extreme doom</option>
	<option>extreme metal</option>
	<option>fado</option>
	<option>fantasy metal</option>
	<option>fastcore</option>
	<option>female fronted metal</option>
	<option>female rap</option>
	<option>female volcalists</option>
	<option>fidget house</option>
	<option>filipino rock</option>
	<option>finnish black metal</option>
	<option>finnish death metal</option>
	<option>finnish heavy metal</option>
	<option>finnish hip hop</option>
	<option>finnish indie</option>
	<option>finnish music</option>
	<option>finnish pop</option>
	<option>finnish rap</option>
	<option>finnish reggae</option>
	<option>finnish rock</option>
	<option>flamenco</option>
	<option>flamenco fusion</option>
	<option>flamenco pop</option>
	<option>flamenco rock</option>
	<option>florida death metal</option>
	<option>folk</option>
	<option>folk metal</option>
	<option>folk noir</option>
	<option>folk pop</option>
	<option>folk punk</option>
	<option>folk revival</option>
	<option>folk rock</option>
	<option>folk-pop</option>
	<option>folktronica</option>
	<option>frat rock</option>
	<option>freak folk</option>
	<option>freakbeat</option>
	<option>free jazz</option>
	<option>french baroque</option>
	<option>french black metal</option>
	<option>french death metal</option>
	<option>french electro</option>
	<option>french hardcore</option>
	<option>french hip hop</option>
	<option>french house</option>
	<option>french indie</option>
	<option>french metal</option>
	<option>french music</option>
	<option>french pop</option>
	<option>french rap</option>
	<option>french reggae</option>
	<option>french rock</option>
	<option>frenchcore</option>
	<option>funeral doom</option>
	<option>funeral doom metal</option>
	<option>funk</option>
	<option>funk jazz</option>
	<option>funk metal</option>
	<option>funk rock</option>
	<option>funky house</option>
	<option>fusion</option>
	<option>fusion jazz</option>
	<option>future fusion metal</option>
	<option>futurepop</option>
	<option>gabba</option>
	<option>gabber hardcore</option>
	<option>galician folk</option>
	<option>gamelan</option>
	<option>gangster rap</option>
	<option>garage blues</option>
	<option>garage house</option>
	<option>garage pop</option>
	<option>garage punk</option>
	<option>garage rock</option>
	<option>garage rock revival</option>
	<option>geek rock</option>
	<option>german black metal</option>
	<option>german dancehall</option>
	<option>german death metal</option>
	<option>german heavy metal</option>
	<option>german hip hop</option>
	<option>german indie</option>
	<option>german metal</option>
	<option>german metalcore</option>
	<option>german music</option>
	<option>german pop</option>
	<option>german punk</option>
	<option>german rap</option>
	<option>german rock</option>
	<option>german schlager</option>
	<option>german thrash</option>
	<option>german thrash metal</option>
	<option>ghetto tech</option>
	<option>glam metal</option>
	<option>glam punk</option>
	<option>glam rock</option>
	<option>glitch</option>
	<option>glitch hop</option>
	<option>glitterhouse</option>
	<option>goa trance</option>
	<option>gore metal</option>
	<option>goregrind</option>
	<option>gospel</option>
	<option>gospel blues</option>
	<option>gospel choir</option>
	<option>gospel soul</option>
	<option>gothabilly</option>
	<option>gothic</option>
	<option>gothic americana</option>
	<option>gothic country</option>
	<option>gothic doom</option>
	<option>gothic doom metal</option>
	<option>gothic metal</option>
	<option>gothic rock</option>
	<option>greek music</option>
	<option>greek pop</option>
	<option>grime</option>
	<option>grindcore</option>
	<option>groove metal</option>
	<option>grunge</option>
	<option>guitar rock</option>
	<option>gypsy jazz</option>
	<option>gypsy music</option>
	<option>gypsy punk</option>
	<option>hair metal</option>
	<option>happy hardcore</option>
	<option>hard bop</option>
	<option>hard dance</option>
	<option>hard house</option>
	<option>hard rock</option>
	<option>hard trance</option>
	<option>hardcore</option>
	<option>hardcore hip hop</option>
	<option>hardcore metal</option>
	<option>hardcore punk</option>
	<option>hardcore rap</option>
	<option>hardcore techno</option>
	<option>hardstep</option>
	<option>hardstyle</option>
	<option>hardtechno</option>
	<option>harmonica blues</option>
	<option>harsh ebm</option>
	<option>harsh electro</option>
	<option>heartland rock</option>
	<option>heavy blues</option>
	<option>heavy metal</option>
	<option>heavy rock</option>
	<option>hip hop</option>
	<option>hip hop soul</option>
	<option>hip house</option>
	<option>hipster rap</option>
	<option>honky tonk</option>
	<option>horror punk</option>
	<option>horror rock</option>
	<option>horrorcore</option>
	<option>horrorcore rap</option>
	<option>house</option>
	<option>house progressive</option>
	<option>houston rap</option>
	<option>hungarian metal</option>
	<option>hungarian rock</option>
	<option>hyperdub</option>
	<option>independent hip hop</option>
	<option>indian classical</option>
	<option>indian folk</option>
	<option>indian fusion</option>
	<option>indian music</option>
	<option>indian pop</option>
	<option>indian rock</option>
	<option>indie</option>
	<option>indie dance</option>
	<option>indie electro</option>
	<option>indie folk</option>
	<option>indie hip hop</option>
	<option>indie pop</option>
	<option>indie punk</option>
	<option>indie rap</option>
	<option>indie rock</option>
	<option>indietronica</option>
	<option>indonesian indie</option>
	<option>indonesian pop</option>
	<option>indonesian rock</option>
	<option>industrial</option>
	<option>industrial black metal</option>
	<option>industrial dance</option>
	<option>industrial metal</option>
	<option>industrial noise</option>
	<option>industrial rock</option>
	<option>instrumental</option>
	<option>instrumental hip hop</option>
	<option>instrumental metal</option>
	<option>instrumental pop</option>
	<option>instrumental rock</option>
	<option>intelligent dance music</option>
	<option>iranian folk</option>
	<option>iranian pop</option>
	<option>irish folk</option>
	<option>irish indie</option>
	<option>irish punk</option>
	<option>irish rock</option>
	<option>irish trad folk</option>
	<option>island music</option>
	<option>italian alternative</option>

	<option>italian dance</option>
	<option>italian disco</option>
	<option>italian folk</option>
	<option>italian hardstyle</option>
	<option>italian hip hop</option>
	<option>italian indie</option>
	<option>italian metal</option>
	<option>italian new wave</option>
	<option>italian opera</option>
	<option>italian pop</option>
	<option>italian punk</option>
	<option>italian rap</option>
	<option>italian reggae</option>
	<option>italian rock</option>
	<option>italian ska</option>
	<option>j pop</option>
	<option>j-pop</option>
	<option>j-rock</option>
	<option>jam band</option>
	<option>jamaican music</option>
	<option>jamaican ska</option>
	<option>jangle pop</option>
	<option>japanese electronic</option>
	<option>japanese folk</option>
	<option>japanese heavy metal</option>
	<option>japanese hip hop</option>
	<option>japanese indie</option>
	<option>japanese indie rock</option>
	<option>japanese metal</option>
	<option>japanese music</option>
	<option>jazz</option>
	<option>jazz blues</option>
	<option>jazz funk</option>
	<option>jazz fusion</option>
	<option>jazz hip hop</option>
	<option>jazz latino</option>
	<option>jazz piano</option>
	<option>jazz pop</option>
	<option>jazz rap</option>
	<option>jazz rock</option>
	<option>jazz vocal</option>
	<option>jazzcore</option>
	<option>jewish folk</option>
	<option>jrock</option>
	<option>judaica</option>
	<option>juke joint blues</option>
	<option>jump blues</option>
	<option>jungle music</option>
	<option>k-pop</option>
	<option>kayokyoku</option>
	<option>klezmer</option>
	<option>kompa</option>
	<option>korean hip-hop</option>
	<option>korean indie</option>
	<option>korean music</option>
	<option>korean pop</option>
	<option>kpop</option>
	<option>kraut rock</option>
	<option>kuduro</option>
	<option>kwaito</option>
	<option>late baroque</option>
	<option>latin</option>
	<option>latin alternative</option>
	<option>latin folk</option>
	<option>latin freestyle</option>
	<option>latin hip hop</option>
	<option>latin jazz</option>
	<option>latin music</option>
	<option>latin pop</option>
	<option>latin rap</option>
	<option>latin reggae</option>
	<option>latin rock</option>
	<option>latin ska</option>
	<option>latin soul</option>
	<option>leftfield</option>
	<option>liquid funk</option>
	<option>lo-fi</option>
	<option>louisiana blues</option>
	<option>lounge</option>
	<option>lounge music</option>
	<option>madchester</option>
	<option>mainstream jazz</option>
	<option>male vocalist</option>
	<option>mambo</option>
	<option>mariachi</option>
	<option>martial industrial</option>
	<option>mashcore</option>
	<option>math metal</option>
	<option>math rock</option>
	<option>math-core</option>
	<option>mediaeval</option>
	<option>medieval</option>
	<option>medieval folk</option>
	<option>medieval metal</option>
	<option>medieval rock</option>
	<option>melodic black metal</option>
	<option>melodic death metal</option>
	<option>melodic deathcore</option>
	<option>melodic hard rock</option>
	<option>melodic hardcore</option>
	<option>melodic heavy metal</option>
	<option>melodic metalcore</option>
	<option>melodic power metal</option>
	<option>melodic punk</option>
	<option>melodic rock</option>
	<option>melodic speed metal</option>
	<option>melodic trance</option>
	<option>memphis blues</option>
	<option>memphis rap</option>
	<option>memphis soul</option>
	<option>merengue</option>
	<option>merseybeat</option>
	<option>metal</option>
	<option>metal argentino</option>
	<option>metalcore</option>
	<option>metalgaze</option>
	<option>mexican indie</option>
	<option>mexican music</option>
	<option>mexican pop</option>
	<option>mexican rap</option>
	<option>mexican rock</option>
	<option>mexican ska</option>
	<option>microhouse</option>
	<option>middle eastern pop</option>
	<option>midwest emo</option>
	<option>midwest rap</option>
	<option>minimal dub</option>
	<option>minimal house</option>
	<option>minimal techno</option>
	<option>minimal wave</option>
	<option>minmimal</option>
	<option>mittelalter</option>
	<option>mittelalter rock</option>
	<option>mod revival</option>
	<option>modern blues</option>
	<option>modern classical</option>
	<option>modern country</option>
	<option>modern electric blues</option>
	<option>modern folk</option>
	<option>modern hardcore</option>
	<option>modern jazz</option>
	<option>modern metal</option>
	<option>modern rock</option>
	<option>modern thrash metal</option>
	<option>modern worship</option>
	<option>motown</option>
	<option>musica portuguesa</option>
	<option>musical</option>
	<option>musique concrete</option>
	<option>nagoya kei</option>
	<option>nederhop</option>
	<option>nederpop</option>
	<option>neo classical metal</option>
	<option>neo rockabilly</option>
	<option>neo soul</option>
	<option>neo-progressive</option>
	<option>neoclassical</option>
	<option>neofolk</option>
	<option>neometal</option>
	<option>neoswing</option>
	<option>neotrance</option>
	<option>nerdcore</option>
	<option>nerdcore hip hop</option>
	<option>nerdcore rap</option>
	<option>neue deutsche welle</option>
	<option>neurofunk</option>
	<option>new age</option>
	<option>new age music</option>
	<option>new beat</option>
	<option>new country</option>
	<option>new funk</option>
	<option>new jack swing</option>
	<option>new metal</option>
	<option>new orleans blues</option>
	<option>new orleans funk</option>
	<option>new orleans jazz</option>
	<option>new prog</option>
	<option>new rave</option>
	<option>new wave</option>
	<option>new weird america</option>
	<option>new york death metal</option>
	<option>new york hardcore</option>
	<option>new york punk</option>
	<option>new york rap</option>
	<option>new york salsa</option>
	<option>new zealand music</option>
	<option>new zealand rock</option>
	<option>newgrass</option>
	<option>ninja tune</option>
	<option>nintendocore</option>
	<option>no wave</option>
	<option>noise</option>
	<option>noise grind</option>
	<option>noise pop</option>
	<option>noise punk</option>
	<option>noise rock</option>
	<option>nordic folk</option>
	<option>norteno</option>
	<option>northern soul</option>
	<option>norwegian black metal</option>
	<option>norwegian hip-hop</option>
	<option>norwegian metal</option>
	<option>norwegian rap</option>
	<option>norwegian rock</option>
	<option>nu breaks</option>
	<option>nu disco</option>
	<option>nu jazz</option>
	<option>nu metal</option>
	<option>nu skool breaks</option>
	<option>nu-soul</option>
	<option>nueva cancion</option>
	<option>nueva cancion chilena</option>
	<option>nwobhm</option>
	<option>oi</option>
	<option>old school</option>
	<option>old school black metal</option>
	<option>old school death metal</option>
	<option>old school hardcore</option>
	<option>old school hip hop</option>
	<option>old school metal</option>
	<option>old school punk</option>
	<option>old school rap</option>
	<option>old school soul</option>
	<option>opera</option>
	<option>operatic pop</option>
	<option>orchestral pop</option>
	<option>oriental metal</option>
	<option>orthodox black metal</option>
	<option>oshare kei</option>
	<option>outlaw country</option>
	<option>pagan folk</option>
	<option>pagan folk metal</option>
	<option>pagan metal</option>
	<option>pagan rock</option>
	<option>pakistani pop</option>
	<option>pakistani rock</option>
	<option>party rap</option>
	<option>peace punk</option>
	<option>persian pop</option>
	<option>philly soul</option>
	<option>piano blues</option>
	<option>piano jazz</option>
	<option>piano rock</option>
	<option>piedmont blues</option>
	<option>pinoy rock</option>
	<option>pirate metal</option>
	<option>polish alternative</option>
	<option>polish alternative rock</option>
	<option>polish black metal</option>
	<option>polish death metal</option>
	<option>polish hip hop</option>
	<option>polish jazz</option>
	<option>polish metal</option>
	<option>polish music</option>
	<option>polish pop</option>
	<option>polish punk</option>
	<option>polish rap</option>
	<option>polish reggae</option>
	<option>polish rock</option>
	<option>polish thrash metal</option>
	<option>political folk</option>
	<option>political punk</option>
	<option>political rap</option>
	<option>polka</option>
	<option>pop</option>
	<option>pop country</option>
	<option>pop espanol</option>
	<option>pop folk</option>
	<option>pop hardcore</option>
	<option>pop latino</option>
	<option>pop metal</option>
	<option>pop opera</option>
	<option>pop punk</option>
	<option>pop rap</option>
	<option>pop rock</option>
	<option>pop underground</option>
	<option>pornogrind</option>
	<option>portuguese hip hop</option>
	<option>portuguese music</option>
	<option>posi hardcore</option>
	<option>posicore</option>
	<option>post rock</option>
	<option>post-black metal</option>
	<option>post-bop</option>
	<option>post-grunge</option>
	<option>post-hardcore</option>
	<option>post-industrial</option>
	<option>post-punk</option>
	<option>post-rock</option>
	<option>postcore</option>
	<option>power metal</option>
	<option>power noise</option>
	<option>power pop</option>
	<option>praise & worship</option>
	<option>prog folk</option>
	<option>progressive bluegrass</option>
	<option>progressive country</option>
	<option>progressive death metal</option>
	<option>progressive deathcore</option>
	<option>progressive electronic</option>
	<option>progressive hardcore</option>
	<option>progressive house</option>
	<option>progressive jazz</option>
	<option>progressive metal</option>
	<option>progressive metalcore</option>
	<option>progressive rock</option>
	<option>progressive trance</option>
	<option>protest folk</option>
	<option>protopunk</option>
	<option>psychedelia</option>
	<option>psychedelic</option>
	<option>psychedelic ambient</option>
	<option>psychedelic chill</option>
	<option>psychedelic downtempo</option>
	<option>psychedelic dub</option>
	<option>psychedelic folk</option>
	<option>psychedelic pop</option>
	<option>psychedelic rock</option>
	<option>psychedelic soul</option>
	<option>psychedelic trance</option>
	<option>psycho rap</option>
	<option>psychobilly</option>
	<option>pub rock</option>
	<option>punk</option>
	<option>punk blues</option>
	<option>punk cabaret</option>
	<option>punk folk</option>
	<option>punk hardcore</option>
	<option>punk jazz</option>
	<option>punk metal</option>
	<option>punk pop</option>
	<option>punk revival</option>
	<option>punk ska</option>
	<option>pure black metal</option>
	<option>queercore</option>
	<option>r&b</option>
	<option>ragga</option>
	<option>ragga jungle</option>
	<option>raggacore</option>
	<option>ragtime</option>
	<option>ranchera</option>
	<option>rap</option>
	<option>rap francais</option>
	<option>rap metal</option>
	<option>rap rock</option>
	<option>rap underground</option>
	<option>rapcore</option>
	<option>raw black metal</option>
	<option>reggae</option>
	<option>reggae dancehall</option>
	<option>reggae dub</option>
	<option>reggae punk</option>
	<option>reggae rock</option>
	<option>reggae roots</option>
	<option>reggaeton</option>
	<option>religious music</option>
	<option>remix</option>
	<option>renaissance</option>
	<option>retro prog</option>
	<option>retro swing</option>
	<option>retro thrash</option>
	<option>revival rockabilly</option>
	<option>riot grrrl</option>
	<option>rock</option>
	<option>rock 'n roll</option>
	<option>rock andaluz</option>
	<option>rock argentina</option>
	<option>rock chileno</option>
	<option>rock en espanol</option>
	<option>rock francais</option>
	<option>rock gaucho</option>
	<option>rock italiano</option>
	<option>rock mexicano</option>
	<option>rock radical vasco</option>
	<option>rock steady</option>
	<option>rockabilly</option>
	<option>romanian hip hop</option>
	<option>romanian music</option>
	<option>romanian pop</option>
	<option>romantic</option>
	<option>roots</option>
	<option>roots reggae</option>
	<option>roots rock</option>
	<option>roots rock reggae</option>
	<option>rumba</option>
	<option>russian alternative</option>
	<option>russian chanson</option>
	<option>russian folk</option>
	<option>russian hip hop</option>
	<option>russian metal</option>
	<option>russian music</option>
	<option>russian pop</option>
	<option>russian punk</option>
	<option>russian rock</option>
	<option>russian trance</option>
	<option>sadcore</option>
	<option>salsa</option>
	<option>salsa romantica</option>
	<option>samba</option>
	<option>samba rock</option>
	<option>satanic black metal</option>
	<option>scandinavian folk</option>
	<option>scandinavian metal</option>
	<option>scottish folk</option>
	<option>scratch</option>
	<option>screamo</option>
	<option>sea shanties</option>
	<option>serbian alternative</option>
	<option>serbian rock</option>
	<option>shibuya-kei</option>
	<option>shock rock</option>
	<option>shoegaze</option>
	<option>singer-songwriter</option>
	<option>ska</option>
	<option>ska jazz</option>
	<option>ska punk</option>
	<option>ska revival</option>
	<option>ska rocksteady</option>
	<option>skacore</option>
	<option>skate punk</option>
	<option>skiffle</option>
	<option>slam death metal</option>
	<option>slavonic pagan metal</option>
	<option>sleaze rock</option>
	<option>slide guitar blues</option>
	<option>slovak punk</option>
	<option>slovenian rock</option>
	<option>slow core</option>
	<option>sludge</option>
	<option>sludge doom</option>
	<option>sludge metal</option>
	<option>smooth jazz</option>
	<option>smooth soul</option>
	<option>soca</option>
	<option>soft rock</option>
	<option>son cubano</option>
	<option>soukous</option>
	<option>soul</option>
	<option>soul blues</option>
	<option>soul jazz</option>
	<option>soul music</option>
	<option>soulful house</option>
	<option>soundtrack</option>
	<option>south african music</option>
	<option>southern gospel</option>
	<option>southern gothic</option>
	<option>southern hip hop</option>
	<option>southern metal</option>
	<option>southern rap</option>
	<option>southern rock</option>
	<option>southern soul</option>
	<option>space disco</option>
	<option>space music</option>
	<option>space rock</option>
	<option>spanish alternative</option>
	<option>spanish folk</option>
	<option>spanish hard rock</option>
	<option>spanish indie</option>
	<option>spanish indie pop</option>
	<option>spanish indie rock</option>
	<option>spanish metal</option>
	<option>spanish music</option>
	<option>spanish pop</option>
	<option>spanish pop rock</option>
	<option>spanish power metal</option>
	<option>spanish punk</option>
	<option>spanish rap</option>
	<option>spanish rock</option>
	<option>spanish ska</option>
	<option>spanish thrash metal</option>
	<option>speed garage</option>
	<option>speed metal</option>
	<option>spiritual</option>
	<option>stand-up comedy</option>
	<option>stoner doom metal</option>
	<option>stoner metal</option>
	<option>stoner rock</option>
	<option>stoner sludge</option>
	<option>straight edge hardcore</option>
	<option>street punk</option>
	<option>string band</option>
	<option>style</option>
	<option>suicidal black metal</option>
	<option>sunshine pop</option>
	<option>surf</option>
	<option>surf music</option>
	<option>surf revival</option>
	<option>swamp blues</option>
	<option>swamp rock</option>
	<option>swedish black metal</option>
	<option>swedish death metal</option>
	<option>swedish folkmusic</option>
	<option>swedish hardcore</option>
	<option>swedish hip hop</option>
	<option>swedish house</option>
	<option>swedish indie</option>
	<option>swedish metal</option>
	<option>swedish music</option>
	<option>swedish pop</option>
	<option>swedish prog</option>
	<option>swedish progressive</option>
	<option>swedish punk</option>
	<option>swedish rap</option>
	<option>swedish rock</option>
	<option>swing</option>
	<option>swing revival</option>
	<option>swiss black metal</option>
	<option>swiss pop</option>
	<option>sympho black metal</option>
	<option>symphonic</option>
	<option>symphonic death metal</option>
	<option>symphonic gothic metal</option>
	<option>symphonic metal</option>
	<option>symphonic power metal</option>
	<option>symphonic prog</option>
	<option>symphonic rock</option>
	<option>symphony</option>
	<option>synth punk</option>
	<option>synth rock</option>
	<option>synthpop</option>
	<option>tango</option>
	<option>tango fusion</option>
	<option>tech house</option>
	<option>tech metal</option>
	<option>tech trance</option>
	<option>technical death metal</option>
	<option>technical thrash</option>
	<option>technical thrash metal</option>
	<option>techno</option>
	<option>techno hardcore</option>
	<option>techno industrial</option>
	<option>technopop</option>
	<option>techstep</option>
	<option>teen pop</option>
	<option>tejano</option>
	<option>terror ebm</option>
	<option>texas blues</option>
	<option>texas country</option>
	<option>texas music</option>
	<option>texas rap</option>
	<option>thai pop</option>
	<option>thai rock</option>
	<option>third wave ska</option>
	<option>thrash core</option>
	<option>thrash metal</option>
	<option>thrash revival</option>
	<option>thrash-death metal</option>
	<option>traditional bluegrass</option>
	<option>traditional blues</option>
	<option>traditional country</option>
	<option>traditional doom</option>
	<option>traditional doom metal</option>
	<option>traditional folk</option>
	<option>traditional gospel</option>
	<option>traditional heavy metal</option>
	<option>traditional jazz</option>
	<option>traditional metal</option>
	<option>traditional pop</option>
	<option>traditional ska</option>
	<option>trance</option>
	<option>trance music</option>
	<option>trancecore</option>
	<option>trancestep</option>
	<option>trash metal</option>
	<option>trip hop</option>
	<option>trip rock</option>
	<option>trova</option>
	<option>true black metal</option>
	<option>true doom metal</option>
	<option>true metal</option>
	<option>turkish folk</option>
	<option>turkish jazz</option>
	<option>turkish music</option>
	<option>turkish pop</option>
	<option>turkish rock</option>
	<option>turntablism</option>
	<option>twee pop</option>
	<option>two-step</option>
	<option>uk garage</option>
	<option>uk grime</option>
	<option>uk hardcore</option>
	<option>uk hip hop</option>
	<option>uk punk</option>
	<option>underground hip hop</option>
	<option>underground rap</option>
	<option>uplifting trance</option>
	<option>urban folk</option>
	<option>urban gospel</option>
	<option>urban jazz</option>
	<option>uruguayan rock</option>
	<option>us metal</option>
	<option>us punk</option>
	<option>viking metal</option>
	<option>visual kei</option>
	<option>vocal house</option>
	<option>vocal jazz</option>
	<option>vocal pop</option>
	<option>vocal trance</option>
	<option>west coast hip hop</option>
	<option>west coast jazz</option>
	<option>west coast rap</option>
	<option>western swing</option>
	<option>world</option>
	<option>world beat</option>
	<option>world fusion</option>
	<option>world music</option>
	<option>worship music</option>
</optgroup>