<%= render :partial => "/shared/header" %>




<div id="content">
	<div class="container">

		<h2>About</h2>

		<p>Hi, I'm Chris Zieba, and I built this app to help people find new music they can enjoy. If you would like to contact me my email is zieba.chris@gmail.com. MoodFuse is made possible by a company called <a href="http://www.echonest.com">The Echo Nest</a>. Their amazing data platform, along with YouTube, generates all the music content on this site.</p>

		<p>If you would like the code for this site, it is publically available on <a href="https://github.com/ChrisZieba/MoodFuse">github</a>.</p>
	</div><!--container-->
</div><!--conenet-->

<%= render :partial => "/shared/footer" %>