<%= render :partial => "/shared/header" %>

<div id="content">
	<div class="container">

		<div class="info">
			<h1>What are you in the mood for?</h1>
			<p>Just pick a mood, genre, <span class="strong">or both</span> to start listening to some great music! If your feeling spontaneous just click the <span class="italic">"random"</span> button and we'll do our best to get you a great playlist!</p>
		</div>

		<div class="picks">

			<div class="div"></div>

			<select id="mood" autocomplete="off">
				<%= render :partial => "/shared/moods" %>
			</select>

			<select id="style" autocomplete="off">
				<%= render :partial => "/shared/short_styles" %>
			</select>


			<div id="submit" title="Start listening">></div>
			<div id="surprise" title="Surprise Me">?</div>
		</div><!--picks-->

		

		<div class="clear"></div>


		<div class="ppc">
			<div id="spinner"></div>
			<div id="player-container">
				<div class="share">
					<div id='fb-root'></div>
					<script src='http://connect.facebook.net/en_US/all.js'></script>
					<span id="share-twitter"  title="Share on Twitter">Tweet</span>
					<span id="share-facebook" title="Share on Facebook">Facebook</span>
					<span id="refresh" title="Get new results">Refresh</span>
				</div>
				<div id="player"></div>
				<div class="controls">
					<div id="next" class="fredoka">next >></div>

				</div>
			</div>

			<div class="playlist-container">
				<div id="playlist"></div>
			</div>

		</div>

	</div><!--container-->
</div><!--conenet-->

<%= render :partial => "/shared/footer" %>