<%= render :partial => "/shared/header" %>




<div id="content">
	<div class="container">

		<h2>Privacy Policy</h2>

		<p>Coming Soon</p>
	</div><!--container-->
</div><!--conenet-->

<%= render :partial => "/shared/footer" %>