.fredoka {
	font-family: "Fredoka One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.strong {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.clear { clear:both; }
.invisible { display: none; }
.hidden {visibility: hidden;}

#header {
	height:30px;
	padding-top:5px;
	margin-bottom:100px;

}

#optstyles {
	display: none;
}

.sliver {
	height:6px;
	padding:0;
	margin:0;
	background:#F28333;
	min-width:960px;
}

#header .social {
	float:right;
	margin:-8px 0 0 0;
	background:#F28333;
	padding: 4px 4px 4px 6px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
}

.twitter-follow-button {
	width:200px; 
	height:20px;
	border:none; 
	overflow:hidden; 
}

.facebook-like-button {
	width:80px; 
	height:20px;
	border:none; 
	overflow:hidden; 

}


.container { 
	position: relative;
	width: 920px; 
	margin: 0 auto; 
	padding: 0 20px;
	display:block;
}


#content {
	float:left;
	width:100%;
	min-height: 400px;
}

iframe {
	width:372px;
	height:279px;
	z-index: 100;
}

.share {
	float:left;
	width:100%;
	margin-bottom:3px;
	height:25px;
}

#share-twitter,
#share-facebook,
#favorite,
#refresh 
{
	width:24px;
	height:24px;
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
	background-image: url("sprite.png");
	background-repeat: no-repeat;
}


#share-facebook {
	background-position: 0 0;
	float:left;
}

#share-facebook:hover { background-position: 0 -24px; }

#share-twitter {
	background-position: -96px 0;
	float:left;
}

#share-twitter:hover { background-position: -96px -24px; }

#refresh {
	background-position: -48px 0;
	float:right;
}

#refresh:hover { background-position: -48px -24px; }


#mood, #style {
	float:left;
	margin: 0 12px 10px 0;
	outline: none;
	position:relative;
	width:370px;
	height:48px;
	color: #B9461A;
	padding:6px 10px;
	letter-spacing: 1px;
	cursor: pointer;
	
	border: 0 !important;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	overflow:hidden;
	font-family: inherit;
	font: 28px "Fredoka One", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;

	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("sprite.png") no-repeat;
	background-position: -130px -220px;
	background-color:white;
	text-indent: 0.01px;
	text-overflow: "";
}


#mood {
	z-index: 201;
}

#style {
	z-index: 101;
}

#submit {
	margin-right:10px;
	background-position: 4px -72px;
	width:50px;
}

#surprise {
	background-position: -72px -72px;
	width:88px;
}

#submit,
#surprise {
	color:white;
	height:48px;
	font-size:0;
	text-indent: -9999px;
	float:left;
	background-image: url("sprite.png");
	background-repeat: no-repeat;
	cursor: pointer;
	background-color:#993007;
	font-weight: 700;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
}

#submit:hover, #next:hover, #surprise:hover {
	background-color: #702002;
}

.plist-itm:hover {
	color:#f5b49b;
}

#player-container {
	z-index: 100;

	width:372px;
	height: 345px;

	position:absolute;
	left:-9999px;
}


.playlist-container {
	width:540px;
	float:right;
	margin: 28px 0 0 0;
}

#playlist {
	float:left;
	width:100%;

}


.plist-itm {
	float:left;
	width:538px;
	margin-bottom:1px;
	padding:3px 1px 3px 1px;
	cursor: pointer;
	font-size: 20px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
}

.active {
	background:#993007 url("play.png") no-repeat 1px 1px;
	padding-left:25px;
	color:#f5b49b;
	width:512px;
}

.controls {
	float:left;
	width:100%;
}
#next {
	float:right;
	padding: 5px 10px;
	background:#993007;
	cursor: pointer;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
}

.picks {

	float:left;
	width:100%;
	margin-bottom:50px;
}
.info {

	float:left;
	width:100%;

}

.ppc {
	float:left;
	width:100%;
	min-height:350px;
	position:relative;
}


#footer {
	height:40px;
	padding:10px 0;
	font-size: 13px;
	margin-top:100px;

}


#footer .shouts {
	float:right;
}

.github-ribbon {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}






@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {

	h1 {
		font-size: 32px;
		line-height: 36px;
	}

	p { 
		font-size:16px; 
		line-height:20px;
	}

	.twitter-follow-button {
		width:133px; 
	}

	.facebook-like-button {
		width:48px; 

	}

	.sliver {
		min-width:320px;
	}
	.container {
		width: 300px;
		padding: 0 10px;
	}

	.picks {
		margin-bottom: 30px;
	}

	#player-container {

		width: 300px;
		height: 300px;
	}

	iframe {
		width:300px;
		height:225px;
	}

	.playlist-container {
		width: 300px;
		float:left;
		margin-top:300px;
	}

	#playlist {
		float: left;
		width: 300px;
		margin-top: 15px;
	}


	.plist-itm {
		width: 275px;
	}

	#mood, #style {
		position: relative;
		width: 300px;
		background-position: -210px -220px;
	}

	#submit {
		width:145px;
		background-position: 0 -120px;
	}

	#surprise {
		width:145px;
		background-position: -145px -120px;
	}

	.github-ribbon {
		display: none;
	}
}


@media only screen and (min-width: 321px) and (max-width: 639px), only screen and (min-device-width: 321px) and (max-device-width: 639px) {

	h1 {
		font-size: 30px;
		line-height: 36px;
	}

	p { 
		font-size:16px; 
		line-height:20px;
	}
	
	.sliver {
		min-width:480px;
	}
	.container {
		width: 460px;
		padding: 0 10px;
	}

	.picks {
		margin-bottom: 30px;
	}

	#player-container {

		width: 460px;
		height: 320px;
	}

	iframe {
		width:460px;
		height:248px;
	}

	.playlist-container {
		width: 460px;
		float:left;
		margin-top:320px;
	}

	#playlist {
		float: left;
		width: 460px;
		margin-top: 15px;
	}


	.plist-itm {
		width: 435px;
	}

	#mood, #style {
		position: relative;
		width: 460px;
		background-position: -50px -220px;
	}

	#submit {
		width:225px;
		background-position: 20px -168px;
	}

	#surprise {
		width:225px;
		background-position: -225px -168px;
	}

	.github-ribbon {
		display: none;
	}

}


@media only screen and (min-width: 640px) and (max-width: 959px), only screen and (min-device-width: 640px) and (max-device-width: 959px) {

	h1 {
		font-size: 44px;
		line-height: 50px;
	}

	.sliver {
		min-width:768px;
	}
	.container {
		width: 748px;
		padding: 0 20px;
	}

	.picks {
		margin-bottom: 30px;
	}

	#player-container {

		width: 570px;
		height: 500px;
	}

	iframe {
		width:570px;
		height:428px;
	}

	.playlist-container {
		width: 570px;
		float:left;
		margin-top:500px;
	}

	#playlist {
		float: left;
		width: 570px;
		margin-top: 15px;
	}


	.plist-itm {
		width: 545px;
	}

	#mood, #style {
		position: relative;
		width: 280px;
		background-position: -220px -220px;
	}

	.github-ribbon {
		display: none;
	}
}
