.clear { clear:both; }
.invisible { display: none; }
.hidden {visibility: hidden;}
.zero {
	height:0 !important;
	line-height: 0 !important;
	font-size: 0 !important;
	padding-top:0 !important;
	padding-bottom: 0 !important;
	border:none !important;
	margin-top:0 !important;
	margin-bottom: 0 !important;
}
#header {
	height:30px;
	padding-top:5px;
	margin-bottom:100px;

}

.sliver {
	height:6px;
	padding:0;
	margin:0;
	background:#F28333;
	min-width:960px;
}

#header .social {
	float:right;
	margin:-8px 3px 0 0;
	background:#F28333;
	padding: 4px 4px 2px 6px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
}

.twitter-follow-button {
	width:200px; 
	height:20px;
	border:none; 
	overflow:hidden; 
}

.facebook-like-button {
	width:80px; 
	height:20px;
	border:none; 
	overflow:hidden; 

}


.container { 
	position: relative;
	width: 920px; 
	margin: 0 auto; 
	padding: 0 20px;
	display:block;
}


#content {
	float:left;
	width:100%;
	min-height: 350px;
}

iframe {
	width:372px;
	height:279px;
	z-index: 100;
}

#mood-search, #style-search {
	float:left;
	width:94%;
	height:26px;
	border:1px solid #afafaf;
	outline: none;
	margin:0 0 5px 0;
	padding:5px 10px;
	font-size: 18px;
	background-image: url("search.png");
	background-repeat: no-repeat;
	background-position: 97% 8px;
}

.share {
	float:left;
	width:100%;
	margin-bottom:3px;
	height:25px;
}

#share-twitter,
#share-facebook,
#favorite,
#refresh 
{
	width:24px;
	height:24px;
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
	background-image: url("sprite.png");
	background-repeat: no-repeat;
}


#share-facebook {
	background-position: 0 0;
	float:left;
}

#share-facebook:hover { background-position: 0 -24px; }

#share-twitter {
	background-position: -96px 0;
	float:left;
}

#share-twitter:hover { background-position: -96px -24px; }

#refresh {
	background-position: -48px 0;
	float:right;
}

#refresh:hover { background-position: -48px -24px; }


#mood, #style {
	float:left;
	margin: 0 12px 10px 0;
	outline: none;
	position:relative;
	width:370px;
	height:48px;
	color: #B9461A;
	padding:6px 10px;
	letter-spacing: 1px;
	cursor: pointer;
	background-color:white;
	border: 0;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	overflow:hidden;
	font-family: inherit;
	font-size: 28px;
	text-overflow: ellipsis;

}


#mood {
	z-index: 201;
}

#style {
	z-index: 101;
}

#submit {
	margin-right:10px;
	background-position: 0 -72px;
}

#surprise {
	background-position: -72px -72px;
}

#submit,
#surprise {
	color:white;
	height:48px;
	width:72px;
	font-size:0;
	text-indent: -9999px;
	float:left;
	font-size: 39px;
	background-image: url("sprite.png");
	background-repeat: no-repeat;
	cursor: pointer;
	background-color:#993007;
	font-weight: 900;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#submit:hover, #next:hover, #surprise:hover {
	background-color: #702002;
}

.plist-itm:hover {
	color:#f5b49b;
}

#player-container {
	z-index: 100;

	width:372px;
	height: 345px;

	position:absolute;
	left:-9999px;
}


.playlist-container {
	width:500px;
	float:right;
	margin: 28px 38px 0 0;
}

#playlist {
	float:left;
	width:100%;

}


.plist-itm {
	float:left;
	width:450px;
	margin-bottom:1px;
	padding:1px;
	cursor: pointer;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.active {
	background:#993007 url("play.png") no-repeat 1px 1px;
	padding-left:25px;
	color:#f5b49b;
}

.controls {
	float:left;
	width:100%;
}
#next {
	float:right;
	padding: 5px 10px;
	background:#993007;
	cursor: pointer;
}

.picks {

	float:left;
	width:100%;
	margin-bottom:100px;
}
.info {

	float:left;
	width:100%;

}

.ppc {
	float:left;
	width:100%;
	min-height:350px;
	position:relative;
}


#footer {
	height:40px;
	padding:10px 0;
	font-size: 13px;
	margin-top:100px;

}


#footer .shouts {
	float:right;
}






/*
@media only screen and (min-width: 401px) and (max-width: 680px), only screen and (min-device-width: 401px) and (max-device-width: 680px) {



}*/

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {

	h1 {
		font-size: 32px;
		line-height: 36px;
	}

	.twitter-follow-button {
		width:133px; 
	}

	.facebook-like-button {
		width:48px; 

	}

	.sliver {
		min-width:320px;
	}
	.container {
		width: 300px;
		padding: 0 10px;
	}

	.picks {
		margin-bottom: 30px;
	}

	#player-container {

		width: 300px;
		height: 300px;
	}

	iframe {
		width:300px;
		height:225px;
	}

	.playlist-container {
		width: 300px;
		float:left;
		margin-top:300px;
	}

	#playlist {
		float: left;
		width: 300px;
		margin-top: 15px;
	}


	.plist-itm {
		width: 300px;
	}

	.active {
		background: #993007;
		padding-left: 0;
	}

	#mood, #style {
		position: relative;
		width: 300px;
	}

	#submit {
		width:145px;
		background-position: 0 -120px;
	}

	#surprise {
		width:145px;
		background-position: -140px -120px;
	}

}